@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", serif;
}

/* Shared Styles */

/* font-color */
.dark-01 {
  color: rgba(19, 19, 19, 1);
}
.dark-02 {
  color: rgba(66, 66, 66, 1);
}
.dark-03 {
  color: rgba(114, 114, 114, 1);
}
.dark-04 {
  color: rgba(161, 161, 161, 1);
}

/* header Css */
header {
  width: 100%;
  background-color: rgba(255, 144, 14, 0.1);
}

header nav {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.125rem;
}

.nav-logo {
  font-weight: bold;
  font-size: 2.8rem;
}

header nav ul {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

header > nav > ul > li {
  list-style: none;
}

header > nav > ul li a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  color: rgba(66, 66, 66, 1);
}

/* banner css */
.banner-container {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0.125rem auto 0 auto;
}

.banner-content {
  max-width: 300px;
  margin-top: 3.1rem;
}

.banner-title {
  font-weight: bold;
  font-size: 2rem;
}

.banner-description {
  font-weight: 400;
  font-size: 1rem;
  margin-top: 0.8rem;
  line-height: 1.5rem;
}

.banner-image {
  width: 100%;
  object-fit: cover;
}

.btn-primary {
  border-radius: 8px;
  background: rgb(255, 144, 14);
  color: white;
  width: 180px;
  height: 64px;
  margin-top: 1.25rem;
  margin-bottom: 3.1rem;
  border: none;
  font-weight: 600;
  font-size: 1rem;
}

/* main section css */
main {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

/* features section */
.features-container {
  width: 100%;
  margin-top: 6.25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.features-left-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}
.features-left-content > img {
  width: 100%;
}

.features-right-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.feature-title {
  font-weight: 500;
  font-size: 2rem;
}

.feature-description {
  width: 100%;
  max-width: 300px;
  margin-top: 0.625rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
}

/* facts section css */
.facts-container {
  margin-top: 1.88rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.facts-title {
  font-weight: bold;
  font-size: 2rem;
}

.facts-description {
  max-width: 300px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 0.5rem;
}

.facts-card-container {
  margin-top: 1.88rem;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
}

.facts-card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 240px;
  height: 240px;
  border: 1px solid #ff900e;
  border-radius: 8px;
}

/* sponsors section css*/
.sponsor-container {
  width: 100%;
  max-width: 1440px;
  margin-top: 3.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sponsor-title {
  font-weight: bold;
  font-size: 2rem;
}

.sponsor-description {
  margin-top: 8px;
  max-width: 300px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}

.sponsor-image-container {
  margin-top: 35px;
  display: grid;
  row-gap: 2rem;
  grid-template-columns: 1fr;
  justify-items: center;
}

.sponsor-image {
  height: 50px;
  width: 166px;
  filter: grayscale(100%);
}

/* footer section */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  height: 100px;
  margin: 50px auto;
  background-color: #fff4e7;
  text-align: center;
}

footer p {
  font-weight: 400;
  font-size: 1.1rem;
}

@media screen and (min-width: 768px) {
  header nav ul {
    gap: 1.5rem;
  }
  .banner-content {
    max-width: 500px;
  }
  .banner-title {
    font-size: 2.5rem;
  }
  .banner-description {
    margin-top: 0.625rem;
  }

  /* features section */
  .features-container {
    margin-top: 5rem;
  }
  .features-left-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .feature-title {
    font-size: 2.5rem;
  }
  .feature-description {
    max-width: 500px;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
  }

  /* facts section */
  .facts-container {
    margin-top: 3rem;
  }
  .facts-title {
    font-size: 2.5rem;
  }
  .facts-description {
    max-width: 500px;
    margin-top: 1.25rem;
  }
  .facts-card-container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    margin: 50px 20px 0 20px;
  }

  /* sponsor css */
  .sponsor-container {
    margin-top: 3rem;
  }
  .sponsor-title {
    font-size: 2.5rem;
  }
  .sponsor-description {
    margin-top: 20px;
    max-width: 500px;
  }
  .sponsor-image-container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 100px;
  }
  .sponsor-image {
    height: 50px;
    width: 150px;
    filter: grayscale(100%);
  }

  footer {
    margin: 100px auto;
  }
}

@media screen and (min-width: 1200px) {
  header nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  header nav ul {
    gap: 3rem;
  }
  .banner-content {
    max-width: 868px;
  }
  .banner-title {
    font-size: 3rem;
  }
  .banner-description {
    margin-top: 0.625rem;
  }

  /* features section */
  .features-container {
    margin-top: 5.3rem;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    text-align: left;
  }
  .features-left-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .features-right-content {
    justify-content: start;
    align-items: start;
    margin-left: 4.75rem;
    text-align: left;
  }

  .feature-title {
    font-size: 3rem;
    text-align: left;
  }
  .feature-description {
    max-width: 600px;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    text-align: left;
  }

  /* facts section */
  .facts-container {
    margin-top: 8.1rem;
    justify-content: start;
    align-items: start;
    text-align: left;
  }
  .facts-title {
    font-size: 3rem;
  }
  .facts-description {
    max-width: 600px;
    margin-top: 1.25rem;
  }
  .facts-card-container {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 7.75rem;
    margin: 6.25rem 1.25rem 0 1.25rem;
  }

  /* sponsor css */
  .sponsor-container {
    margin-top: 11.25rem;
  }
  .sponsor-title {
    font-size: 3rem;
  }
  .sponsor-description {
    margin-top: 1.25rem;
    max-width: 600px;
  }
  .sponsor-image-container {
    margin-top: 8.1rem;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 9.68rem;
  }
  .sponsor-image {
    border: dashed 1px rgb(169, 162, 162);
    height: 50px;
    width: 166px;
    filter: grayscale(100%);
  }

  footer {
    margin: 8.1rem auto 13.3rem auto;
  }
}
